<!-- templates/jobs/single_job.html -->
<div class="well-job">
   <div class="big-job-card">
      <div class="job-details-big">
         <div class="company-name">{{ job.title }}</div>
         <div class="location">
            <span class="company">{{ job.company.name }}</span>
            <div class="dot"></div>
            <span class="location-text">{{ job.location }}</span>
         </div>
      </div>
      <a href="{% url 'apply_for_job' job.id %}">
         <div class="apply">
            <h5>APPLY</h5>
         </div>
      </a>
      <img src="{{ job.company.company_logo.url }}" alt="{{ job.company.name }} Logo">
   </div>
   <div class="job-card-divider"></div>
</div>
