{% extends "base.html" %}
{% load static %}
{% block content %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/company_detail.css' %}?{% now 'U' %}">
</head>
<div class="container">
    <div class="company-header">
        <h1>{{ company.name }}</h1>
        <img src="{{ company.company_logo.url }}" alt="{{ company.name }} Logo" class="company-logo">
    </div>
    <div class="company-info">
        <p><strong>Address:</strong> {{ company.address }}</p>
        <p><strong>Description:</strong> {{ company.bio }}</p>
        <p><strong>Phone:</strong> {{ company.phone }}</p>
        <p><strong>Website:</strong> <a href="{{ company.page }}" target="_blank">{{ company.page }}</a></p>
    </div>
</div>
{% endblock %}