{% extends "base.html" %} {% block title %} Sign Up {% endblock %}
{% block content %}
<div class="login">
    <form class="form-container" method="POST" action="">
	    {% csrf_token %}
        <section class="login-copy">
            <h2>Log In</h2>
            <div class="login-container">
                <a href="signup"><strong>Sign up</strong></a>
            </div>
        </section>
        <div class="input-container name">
            <label for="username1">Username</label>
            <input id="username" name="username" type="username" placeholder="Enter your Username" required>
        </div>
        <div class="input-container name">
            <label for="password">Password</label>
            <input id="password" name="password" type="password" placeholder="Enter your Password" required>
        </div>
	{% for message in messages %}
            <p id="mesg">{{message}}</p>
	{% endfor %}
        <button class="login-btn" type="submit">Log in</button>
    </form>
</div>
{% endblock %}
