<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>JamminJobs</title>
    <link 
     href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" 
     rel="stylesheet" 
     integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" 
     crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href='{% static '/css/main.css' %}?{% now "U" %}'>
    <link rel="stylesheet" type="text/css" href='{% static '/css/loginstyle.css' %}?{% now "U" %}'>
    <link 
    rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" 
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" 
    crossorigin="anonymous" 
    referrerpolicy="no-referrer">
  </head>
  <body>
    {% include 'navigation.html' %}
    <div class="body">
    	{% block content %}
    	{% endblock %}
   </div> 
   <footer>
      <div class="footerContainer">
        <div class="socialIcons">
            <a href="https://www.facebook.com"><i class="fa-brands fa-facebook"></i></a> 
            <a href="https://www.instagram.com"><i class="fa-brands fa-instagram"></i></a> 
            <a href="https://www.twitter.com"><i class="fa-brands fa-twitter"></i></a> 
        </div>
        <div class="footerNav">
          <ul> 
            <li><a href="https://en.wikipedia.org/wiki/Linus_Torvalds">About</a></li>
            <li><a href="https://www.youtube.com/watch?v=xvFZjo5PgG0">Contact Us</a></li>
            <li><a href="https://en.wikipedia.org/wiki/SEAL_Team_Six">Our Team</a></li>
          </ul>
        </div>
	<div class="footerBottom">
                <p> Copyright &copy;2024; Designed by <span class="designer">Breki Gunnarsson, Jakob Máni & Kristófer Orri</p>
	</div>
      </div>
   </footer>
  </body>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</html>
